@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

@media only screen and (max-width: 600px) {
    .textfield{
        width: 80% !important;
        max-width: 80% !important;
    }

    button{
        width: 80% !important;
    }
  }

body {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.textfield{
    margin: 20px auto;
    display: block;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #a5c9ca;
    background-color: white;
    color: black;
    width: 40%;
    max-width: 40%;
    padding: 8px;
    font-family: "Reem Kufi";

}

.textfield:focus{
    outline: none;
    border: 4px solid #a5c9ca;

}

.filepicker{
    margin: auto;
    font-family: "Reem Kufi";
    text-align: end;
}

button{
    width: 30%;
    background-color: #a5c9ca;
    font-family: "Reem Kufi";
    font-size: 20px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 8px;
    height: 50px;
    color: white;
    
}



h1{
    font-family: "Reem Kufi";
}

select{
    -webkit-appearance: none;
    display: block;
    border: none;
    padding: 15px 30px;
    margin-left: 0;
    margin: auto;
    border-bottom: 3px solid #a5c9ca;
    font-family: "Reem Kufi";
    background-color: white;
}

label{
    font-family: monospace;
}
